#content{
	width: 100%;
	min-height: 100%;
	height: 100%;
}
#editor-column{
	width: 50%;
	height: 600px;
	float: left;
}
#preview-column{
	width: 50%;
	height: 600px;
	float: left;
	background-color: #f9f9f9;
	
}
#preview{
	overflow-y: auto;
}
#mdeditor,#preview,#panel-editor,#panel-preview{
	width: 100%;
	height: 100%;
}


#article-info{
	width: 100%;
	height: 50px;
}
#article-title{
	width: 50%;
	height: 50px;
	border: none;
}
#article-cover{
	width: 30%;
	height: 50px;
	border: none;
}
#article-submit{
	margin: 8px 10px 8px 0;
}
#article-description{
	width: 100%;
	height: 34px;
}
#description{
	width: 50%;
	height: 34px;
	border: none;
}
#article-tag{
	width: 50%;
	height: 34px;
	border: none;
}
#article-submit-m{
	display: none;
}

@media (max-width:768px ) {
#editor-column,#preview-column{
	width: 100%;
	height: 600px;
}

#article-title,#article-cover{
	width: 100%;
	height: 50px;
	border: none;
}

#article-submit{
	display: none;
}
#article-submit-m{
	display: block;
}


#description,#article-tag{
	width: 100%;
	height: 34px;
	border: none;
}




}